html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

.main {
  flex: 1 0 auto;
}

.container {
  width: 1165px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 82.5%;
  padding-bottom: 60px;
}

.section-title {
  font-size: 49px;
  line-height: 38px;
  font-weight: bold;
  margin: 0;
}

.wrapper--reviews .main-content {
  padding-top: 14px;
  padding-bottom: 39px;
}

.wrapper--reviews .section-title {
  line-height: 25px;
  padding-bottom: 33px;
}

.wrapper--reviews .section-title--feedback {
  padding-left: 13%;
  padding-top: 56px;
  letter-spacing: -0.5px;
  line-height: 24px;
}

.wrapper--tarifs .main-content {
  padding-bottom: 8px;
  width: 75.3%;
}

.wrapper--tarifs .section-title {
  line-height: 23px;
  padding-left: 2px;
}

.wrapper--tarifs .section-title--partners {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 21px;
}