html,
body,
.wrapper {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.wrapper {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.sidebar {
  width: 180px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: space-between;
}

.container--feedback {
  background-color: #f5f5f5;
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-content {
  width: 82.5%;
  padding-top: 24px;
  padding-bottom: 72px;
}

.section-title {
  font-size: 49px;
  line-height: 38px;
  font-weight: bold;
  padding-left: 5px;
}

.wrapper--reviews .main-content {
  padding-top: 10px;
  padding-bottom: 39px;
}

.wrapper--reviews .section-title {
  line-height: 25px;
}

.wrapper--reviews .section-title--feedback {
  padding-left: 69px;
  padding-top: 63px;
  letter-spacing: -0.5px;
  line-height: 8px;
}

.wrapper--tarifs .main-content {
  padding-top: 41px;
  padding-bottom: 39px;
}

.wrapper--tarifs .section-title {
  line-height: 23px;
  padding-left: 2px;
}

.wrapper--tarifs .section-title--partners {
  padding-left: 11px;
  padding-bottom: 8px;
  line-height: 11px;
}
