.banner {
  background-color: #27273e;
  margin-bottom: 28px;
}

.banner__image {
  background-image: url(/img/banner-index.jpg);
  background-repeat: no-repeat;
  background-position: -20px 0px;
  min-height: 392px;
}