.partners {
  border: 1px solid #e8e9ed;
  margin-top: 30px;
  margin-bottom: 22px;
  padding-Top: 22px;
  padding-bottom: 14px;
}

.partners__list {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3px 0 0 8px;
}

.partners__link {
  display: block;
  width: 150px;
  padding: 22px 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  filter: grayscale(1);
}

.partners__link:hover {
  opacity: 1;
  filter: grayscale(0);
  transition: 300ms;
}

.partners__logo {
  margin: 0 auto;
}

.partners__item:first-child .partners__logo {
  /* padding-top: 11px */
}
