.promo {
  background-image: url(../../img/reviews-!.png);
  background-repeat: repeat;
  background-color: #27273e;
  margin-top: 50px;
  padding-bottom: 9px;
  margin-bottom: 23px;
}

.promo__text {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  padding: 22px 0 0 0;
}

.promo__privilege {
  color: #ec1e79;
  font-weight: bold;
}
