.sidebar {
  width: 24%;
  margin-right: 22px;
}

.sidebar .features__list {
  width: auto;
}

.sidebar .features__item {
  width: 272px;
  margin-right: 0;
  padding-bottom: 18px;
}

.sidebar .features__logo {
  width: 100%;
  height: auto;
  padding: 2px 14px 0 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  background-image: none;
}

.sidebar .features__advantages {
  padding: 2px 0 0 42px;
}

.wrapper--reviews .sidebar {
  width: 26%;
  margin-right: 18px;
}

.wrapper--tarifs .sidebar {
  width: 23.4%;
  margin-right: 0;
}